.news {

  .slick-dots {
    bottom: -10px;

    @include mobile-large {
      bottom: 0;
    }

    @include mobile {
      bottom: 6px;
    }
  }

  &__item {
    padding: 12px;
  }

  &__item-title {
    padding: 0 6px;
    font-family: "Balsamiq Sans", cursive;
    font-size: 1.3rem;
  }

  &__item-date {
    display: block;
    font-size: 10px;
    color: lighten($black, 25%);
    text-align: right;
    padding-right: 6px;
    margin-bottom: 4px;
  }

  &__item-img {
    height: 240px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    @include laptop {
      height: 190px;
    }
    @include tablet {
      height: 137px;
    }
    @include mobile {
      height: 220px;
    }
  }
  &__item-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-text {
    padding: 4px;
    text-align: justify;
  }
}