.owl-carousel {
  position: relative;
  padding-top: 116px;
  z-index: 0;
  height: 100vh;

  @include tablet {
    height: 500px;
    padding-top: 102px;
  }

  @include mobile-large {
    padding-top: 66px;
    text-align: center;
    height: 400px;
  }
  
  &__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 4px;
    @include mobile-large {
      background-position: 50% 0;
    }

  }

  .slick-list {
    height: 100%;
  }
  .slick-track {
    height: 100%;
  }


  &__text {
    height: 100%;
  }

  &__subheading{
    color: $black;
    font-weight: 700;
  }
  .text{
    position: relative;
  }
  h1 {
    font-size: 62px;
    color: $black;
    line-height: 1.2;
    font-weight: 500;
    span{
      display: block;
      color: $black;
      font-family: $nunito;
    }
    @include laptop {
      font-size: 50px;
    }
    @include tablet {
      font-size: 36px;
    }
    @include mobile {
      font-size: 26px;
    }
  }
  .subheading{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0,0,0,.8);
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(0,0,0,.8);
    &.sub-p{
      font-weight: 400;
    }
    strong{
      font-weight: 700;
      a{
        color: #fff;
      }
    }
  }
  //BREADCRUBS
  .breadcrumbs{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    span{
      border-bottom: 2px solid rgba(255,255,255,.1);
      a{
        color: #fff;
      }
    }
  }
}