.header {
  overflow: hidden;

  &__top {
    border-bottom: 1px solid #263238;
  }


  &__info {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 104px);
    padding-top: 140px;
    z-index: 10;
    background-repeat: no-repeat;
    background-color: #eee;
    background-position: center;
    background-size: cover;

    &--1 {
      background-image: url("../img/banner4.jpg");
    }
    &--2 {
      background-image: url("../img/banner00.jpg");
    }
    &--3 {
      background-image: url("../img/banner22.jpg");
    }


    @include tablet {

    }
    @include mobile {
      padding: 0 10px;
    }
  }

  &__title {
    font-size: 3rem;
    text-align: center;
    font-family: $balsamiq-sans;
    font-weight: 700;
    padding: 0 15px;
    width: 80%;

    @include tablet {
      font-size: 2.6rem;
    }
    @include mobile-large {
      line-height: 1.1;
      width: 100%;
    }
    @include mobile {
      margin-top: 180px;
      font-size: 2rem;
      letter-spacing: -1px;
    }
  }

  &__wrapper {
    background-color: #eee;
    width: 100%;
    min-height: 104px;
    padding: 20px 0;
    z-index: 10;

    @include mobile-large {
      padding: 15px 0;
    }
    @include mobile {
      padding: 10px 0;
    }
  }

  &__logo {
    width: 280px;
    height: auto;
    flex-shrink: 0;

    @include tablet {
      width: 240px;
    }
    @include mobile-large {
      width: 220px;
    }
    @include mobile {
      width: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__buttons {
    width: 80%;
    margin-top: 40px;

    @include mobile-large {
      margin-top: 20px;
      width: 98%;
    }
  }
  &__btn {

    @include tablet {
      min-width: 33.3333%;
    }
    @include mobile-large {
      min-width: 34%;
    }
    @include mobile {
      margin-left: 0;
      min-width: 60%;
    }
    & + & {
      margin-left: 20px;
      @include mobile {
        margin-top: 20px;
        margin-left: 0;
      }
    }
    &:last-child {
      @include tablet {
        margin: 20px auto 0 auto;
      }
    }
    span:first-child {
      font-size: 18px;
      font-weight: 500;
      @include mobile-large {
        font-size: 16px;
      }
    }
  }
}