.header {
  min-height: calc(100vh - 114px);
  //height: calc(100vh - 78px);

  @include mobile-large {
    min-height: auto;
    height: auto;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: $bg-gray;
  }
}