.nav {
    border-bottom: 1px solid #dee2e6;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    min-height: 46px;

    &__item {
        padding: 12px;
        transition: all .2s ease-out;

        & + & {
            margin-left: 14px;
        }

        &--active, &:hover {
            color: $blue;
        }
    }
}

