.serv-card {
  text-align: center;

  &__icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);

    span, i {
      font-size: 50px;
      color: $blue;
    }
    i {
      font-size: 40px;
      color: $blue;
    }
  }

  &__title {
    font-family: $nunito;
    font-size: 22px;
    text-align: center;
    margin: 14px 0 6px 0;
    color: #000;
    max-width: 100%;

    span {
      font: inherit;
      display: block;
      line-height: 1.4;
    }
  }
}