.social-link {
  font-size: 20px;
  transition: all .3s ease;
  padding: 2px 6px;

  @include mobile-large {
    font-size: 18px;
  }

  &:hover {
    color: $green;
    transform: translateY(-3px);
  }
}