body {
  font-family: $montserrat;
  color: rgba($black, 0.8);
  background-color: $bg-gray;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;

  @include mobile-large {
    font-size: 14px;
  }
}

.container-fluid {
  padding: 0 15px;
}

.container {
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;

  @include laptop {
    max-width: 950px;
  }
  @include tablet {
    max-width: 710px;
  }
  @include mobile-large {
    max-width: 470px;
  }
  @include mobile {
    max-width: 100%;
    padding: 0 10px;
  }
}

.default-section {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #dee2e6;

  @include laptop {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include tablet {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @include mobile-large {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__list {
    font-size: 1.15rem;
    line-height: 1.3;
    text-align: left;
    font-weight: 400;
    margin-top: 10px;

    @include mobile-large {
      font-size: 1rem;
      line-height: 1.2;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      display: block;
      content: "\f124";
      margin-right: 12px;
      color: $blue;
      font-size: 14px;
      transform: rotate(45deg);
      @include mobile {
        font-size: 14px;
        margin-right: 8px;
      }
    }
    @include mobile {
      font-size: 14px;
    }
  }
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  display: block;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #000000;

  @include mobile-large {
    text-align: center;
    font-size: 15px;
  }
  @include mobile {
    font-size: 14px;
  }
}

.title {
  font-family: $nunito;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;

  @include mobile-large {
    text-align: center;
    font-size: 28px;
  }
  @include mobile {
    font-size: 22px;
  }
}

.title-sm {
  font-family: $nunito;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}


p + p {
  margin-top: 14px;
}
p {
  line-height: 1.4;
}

.link-decor-on-hover {
  transition: text-decoration .3s ease;
  &:hover {
    text-decoration: underline !important;
  }
}

.d-block {
  display: block;
}

@include mobile-large {
  .d-sm-block {
    display: block;
  }
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.bg-gray {
  background-color: $bg-gray;
}
.bg-black {
  background-color: $bg-black;
}

.text-white {
  color: rgba(#fff, 0.8) !important;

}

.text-blue {
  color: $blue !important;
}
.text-green {
  color: $green !important;
}

.text-black {
  color: $black !important;
}

.text-upper {
  text-transform: uppercase;
}
.text-camel {
  text-transform: capitalize;
}
.ff-balsamic {
  font-family: $balsamiq-sans;
}
.ff-nunito {
  font-family: $nunito;
}
.fz-15 {
  font-size: 15px !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.d-none {
  display: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}
.w-90 {
  width: 90% !important;
}
strong {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
@include tablet {
  .text-md-center {
    text-align: center;
  }
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
@include tablet {
  .text-md-left {
    text-align: left;
  }
}

.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
@include mobile-large {
  .mx-sm-auto {
    margin-left: auto;
    margin-right: auto;
  }

}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 32px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  border: 2px solid transparent;
  white-space: nowrap;

  @include  mobile {
    width: 90%;
  }


  //@include mobile-large {
  //  min-width: 180px;
  //  font-size: 1.1rem;
  //  padding: 4px 6px;
  //}
  //@include mobile {
  //  width: 220px;
  //  padding: 2px 6px;
  //}

  span {
    display: block;
  }
}

.btn--small {
  padding: 8px 12px;
}
.btn--green {
  background-color: $green;
  color: #fff;

  &:hover {
    background-color: transparent;
    border-color: $green;
    color: $black;
  }
}

.btn--white {
  border-color: $green;
  color: $black;
  background-color: transparent;

  &:hover {
    background-color: $green;
    border-color: white;
    color: #fff !important;
  }
}


.btn--phone::before {
  font-family: 'Font Awesome 5 Free';
  padding: 4px;
  font-weight: 900;
  content: "\f2a0";
  font-size: 2rem;
  margin-right: 6px;
  transform: rotate(-35deg);

  @include mobile-large {
    font-size: 1.6rem;
    margin-left: 6px;
  }

  @include mobile {
    margin-right: 18px;
  }
}

.btn--email::before {
  font-family: 'Font Awesome 5 Free';
  padding: 4px 4px 4px 0;
  font-weight: 400;
  content: "\f0e0";
  font-size: 2rem;
  margin-right: 6px;

  @include mobile-large {
    font-size: 1.6rem;
    margin-left: 6px;
  }

  @include mobile {
    margin-right: 18px;
  }
}

.test {
  position: fixed;
  z-index: 999;
  background-color: rgba($black, 0.5);
  text-align: center;
  line-height: 24px;
  padding: 4px;
  width: 100%;
  min-height: 20px;
  font-size: 16px;
  color: #fff;
  @include mobile {
    font-size: 14px;
  }
}

.w-32 {
  width: 32px !important;
}
.w-46 {
  width: 46px !important;
}
.w-44 {
  width: 44px !important;
}
.w-52 {
  width: 52px !important;
}
