$widescreen: 1440px;
$laptop: 1200px;
$tablet: 960px;
$mobile-large: 720px;
$mobile: 480px;

//colors
$black: #141615;
$cyan: #03dac5;

$green: #8bc53f;
$orange: #ffb951;

$lemon: #ffb951;
$bg-gray: #fafafa;
$bg-black: #263238;
$grey: #eee;

//fonts
$roboto-slab:'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;;
$balsamiq-sans: 'Balsamiq Sans', cursive;


//font-family: 'Roboto', sans-serif;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Caveat', cursive;