.about {

  &__coop {
    margin-top: 40px;

    @include mobile-large {
      margin-top: 30px;
    }
    @include mobile {
      margin-top: 20px;
    }
  }
  &__coop-title {
    font-size: 1.5rem;
    font-family: $balsamiq-sans;
    text-align: center;
    margin-bottom: 8px;

    @include mobile-large {
      font-size: 1.3rem;
    }
    @include mobile {
      font-size: 1.2rem;
    }
  }
  &__coop-text {
    font-size: 1.1rem;
    line-height: 1.3;
    text-align: left;
    font-weight: 400;

    @include mobile-large {
      font-size: 1rem;
      line-height: 1.2;
    }
    @include mobile {
      font-size: 14px;
    }
  }
  &__img {
    float: right;
    border-radius: 8px;
    overflow: hidden;
    width: 28%;
    height: auto;
    margin-left: 10px;
    margin-bottom: 4px;
    margin-top: 38px;

    @include mobile {
      display: none;
    }
  }
}